/* Colour palette sourced from https://colorhunt.co/palette/ede9d5e7ab9adf7857617143 */

:root {
  --orange: rgb(218, 140, 45);
  --beige: rgb(237, 233, 213);
  --peach: rgb(231, 171, 154);
  --red: rgb(223, 120, 87);
  --green: rgb(97, 113, 67);
}

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: white;

}

.container-lg {
  padding-bottom: 25px;
}

textarea {
  border: none;
  resize: none;
  padding: 10px;
}

.event-descr {
  white-space: pre-wrap;
}

.time-block textarea{
  margin: 0 3px;
}

.row {
  margin-top: 5px;
}

.day-time {
  margin-right: 3px;
  background-color: var(--green);
  border-radius: 15px;
  color: white;
  font-size: 18px;
  padding-top: 2px;
  font-weight: 900;
  }

.past textarea {
  background-color: var(--beige);
  border-radius: 15px;
  text-decoration: line-through;
}

.present {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Add :click for textarea to highliht it when you type something */

.present textarea {
  background-color: var(--red);
  color: white;
  font-weight: 500;
  border-radius: 15px;
}

.future textarea {
  background-color: var(--peach);
  border-radius: 15px;
}

.save-btn {
  margin-left: 3px;
  border-radius: 15px;
  background-color: var(--green);
  color: white;
  font-weight: 900;
}

.save-btn:hover {
  font-size: 20px;
  color: white;
  background-color: var(--orange);
}

@media (min-width: 576px) { 
  .day-time {
    padding-top: 21px;
  }
 }